#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
li {
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1rem;
}
